[*.cs]

# CA1814: 与多维数组相比，首选使用交错数组
dotnet_diagnostic.CA1814.severity = silent

# IDE0003: 删除限定
dotnet_style_qualification_for_method = false:silent

# IDE0003: 删除限定
dotnet_style_qualification_for_event = false:silent

# IDE0003: 删除限定
dotnet_style_qualification_for_property = false:silent

# IDE0003: 删除限定
dotnet_style_qualification_for_field = false:silent

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = silent
